{% extends 'base.html' %}

{% block title %}Register - Event Management System{% endblock %}

{% block content %}
<section class="section">
    <h2><i class="fas fa-user-plus icon"></i>Register</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus icon"></i>Register</button>
    </form>
    <p class="mt-3">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
</section>
{% endblock %}